@media only screen and (min-device-width: 1440px) {
    .footer__h2--partners {
    margin-left: 93px;
  }
  .footer__logoWrapper {
    margin-left: 30%;
  }
  .footer__h3 {
    margin-left: 31px;
  }
}
