@media only screen and (min-device-width: 768px) {
  .partners {
    width: 67%;
    margin: 0 auto;
  }
  .partners__h2 {
    margin-bottom: 15px;
    padding-top: 39px;
  }
  .partners__name {
    margin: 20px 0 15px 0;
    padding: 0;
  }
}
