@media only screen and (min-device-width: 1440px) {
  .partners {
    width: 100%;
  }
  .partners__h2 {
    margin-bottom: 15px;
    padding-top: 30px;
  }
  .partners__name {
    margin: 20px 0 15px 0;
    padding: 0;
  }

}
