$font-blue: indigo;
$dark-background: #2a2d32;
$blue-highlight: #248cec;
$orange-highlight: #f4b60d;
$dark-font: #2a2b2e;
$gray-font: #9e9e9e;
$news-link: #0187f4;
$wrapper-width: 1160px;
$header-navigation-height: 56px;
