.contacts {
  height: 60px;
  background-color: #35383c;
  font-family: Arial, sans-serif;
  position: relative;
}
.contacts__block {
  float: left;
  position: relative;
  margin-right: 35px;
}

.contacts__block:last-child {
  float: right;
  margin-right: 0;
}

.contacts__link {
  color: #6c6e70;
  font-size: 12px;
  text-decoration: none;
}

.wrapper--contacts {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1160px;
}
a.contacts__link:hover {
  color: blue;
}
