.ourServices {
  background-color: $dark-background;
  margin: 0 auto;
  height: 500px;
}
.ourServices__header {
  padding: 48px 0 56px 0;
  font-family: 'Ubuntu Medium', Verdana, sans-serif;
  font-size: 24px;
  color: #fff;
}
.ourServices__figcaption {
  padding: 34px 0 0 0px;
  font-family: 'Ubuntu Medium', Verdana, sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  transition: color .3s;
}
.ourServices__link {
  float: left;
  text-decoration: none;
  display: block;
  margin-right: 40px;
}
.ourServices__link:last-child {
  margin-right: 0;
}
.ourServices__figure {
  position: relative;
}
.ourServices__figure:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 260px;
  height: 260px;
  background: blue;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.ourServices__link:hover .ourServices__figure:after {
  opacity: .7;
  visibility: visible;
}

.ourServices__plus {
  font-size: 500px;
  color: white;
  position: absolute;
  top: 130px;
  left: 130px;
  transform: translate(-50%, -50%) scale(.45);
  visibility: hidden;
  transition: transform .3s, visibility .1s;
  z-index: 1000;
}

.ourServices__link:hover .ourServices__plus {
  fill: #fff;
  transform: translate(-50%, -50%) scale(.15);
  visibility: visible;
}
.ourServices__link:hover .ourServices__figcaption {
  color: $orange-highlight;
}
