/* только для Internet Explorer */
@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/leaguegothic-regular-webfont.eot');
}
/* далее для всех остальных браузеров */
@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans.light.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------=-----------  Common -----------------------------------*/
/* Reset */
*{margin:0;padding:0;}
body {
  background: #af9fb1 url(../img/bg.jpg) no-repeat;
  background-position: center top;
    font-family: "LeagueGothic";
    box-sizing: border-box;
}
a {
    text-decoration: none;
    transition: 0.3s;
}
h3 {
    color: #454545;
    font-size: 30px;
    line-height: 34px;
    text-shadow: 0 1px 0 white;
    font-weight: normal;
    margin-bottom: 7px;
}
a h3 {
    text-decoration: none;
    color: #454545;
}
.h4 {
    color: #454545;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
}
.text {
    color: #454545;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0 1px 0 white;
}
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}
/*-------=-----------  Header -----------------------------------*/

header {
    border-bottom: 1px solid #33253a;
    padding-bottom: 167px;
}
.container {
    max-width: 960px;
    padding-left: 25px;
    margin: 0 auto;
    position: relative;
}
.container:after {
    content: " ";
    display: table;
    clear: both;
}
/*@media (max-width: 959px) { .container { width: 768px; } }
@media (max-width: 767px) { .container { width: 480px; } }
@media (max-width: 479px) { .container { width: 100%; } }
/*----Main menu---------------------------------------------------------- */

.logo {
    height: 39px;
    width: 152px;
}
.top {
    padding-top: 70px;
}
.navbar-left {
    float: left;
    margin-bottom: 28px;
  }
.navbar-right {
    position: relative;
    float: right;
}
@media (max-width: 959px) {
    .navbar-left {
        float: none;
    }
    .navbar-right {
        float: none;
    }
}
@media (max-width: 767px) {
    .navbar-left {
        text-align: center;
        padding-left: 0;
        margin-bottom: 22px;
    }
    .navbar-right {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .navbar-left {
        margin-bottom: 26px;
    }
}
/*-------------------------------Menu------------------------------*/

.menu {
    position: relative;
    float: right;
    z-index: 100;
}
.menu li {
    float: left;
    margin-left: 41px;
    list-style-type: none;
}
.menu li:first-child {
    margin-left: 0;
}
.menu a {
    padding: 0 4px;
    text-decoration: none;
    color: white;
    font-family: "LeagueGothic";
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    vertical-align: bottom;
    transition: 0.3s;
    font-stretch: condensed;
}
.menu a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.menu__active a {
    border-bottom: 2px solid #edbfff;
}
@media (max-width: 959px) {
    .menu {
        float: none;
    }
}
@media (max-width: 767px) {
/*-----hide---------------*/
    ul.menu {
  /*    display: none;*/
      border: none;
      background-color: transparent;
      box-shadow: none;
/*-----------------------*/
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -122px;
      /*  z-index: 100;*/
        width: 244px;
        overflow: hidden;
        border-radius: 7px;
        opacity: 0.9;
        text-align: center;
      }
      ul.menu:hover {
       display: inline-block;
        border: 1px solid #041016;
        background-color: #35293d;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
    }
    .menu li {
        display: none;
        background-color: transparent;
        float: none;
        margin-left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 40px;
        opacity: 0.9;
    }
    ul.menu:hover li {
      display: block;
      background-color: #35273d;
    }
    .menu li:first-child > a {
        box-shadow: none;
    }
    .menu a {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        line-height: 43px;
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.59), inset 0 2px 0 rgba(105, 82, 114, 0.59);
    }
    .menu a:hover {
        border-bottom: 2px solid #edbfff;
        background: rgba(0, 0, 0, 0.3);
        text-shadow: none;
        background: transparent;
        cursor: default;
    }
    .menu__active a {
        border-bottom: 2px solid #edbfff;
        display: inline;
    }
    .menu__active a:hover {
        background: transparent;
        border-bottom: 2px solid transparent;
        cursor: pointer;
    }
    li.menu__active {
      display: block;
    }
  }
    /* .menu .menu__active a { display: inline; }*/
/*--------------------------------------------------------------------------------*/

.menu--bottom li:first-child {
    margin-left: 0;
}
.menu--bottom li {
    margin-left: 45px;
}
.menu--bottom a {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
}
@media (max-width: 767px) {
    .menu--bottom li {
        margin-left: 0;
        margin-right: 5%;
    }
}
@media (max-width: 479px) {
    .menu--bottom {
        display: none;
    }
}
/*-------------------------#slideshow--slider-----------------------------*/
#slideshow {
  position: relative;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 137px;
    box-sizing: border-box;
}
#requirements {
  float: right;
  position: relative;
}
@media (max-width: 959px) {
  #slideshow {
      margin-top: 75px;
    }
  }
.box1 {
    position: relative;
    top: -17px;
    margin-bottom: -35px;
}
.content {
    color: #fefefe;
    font-size: 60px;
    padding-right: 5px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.content-txt {
  width: 487px;
}
.slider img {
      float: right;
      width: 434px;
      height: 434px;
  }
.content h2 {
    font-size: 58px;
    line-height: 60px;
}
.content h3 {
    font-size: 32px;
    line-height: 30px;
    color: #edbfff;
    margin-bottom: 7px;
}
.content p {
    font-size: 20px;
    line-height: 24px;
    font-family: "Myriad Pro";
    overflow: hidden;
    max-height: 170px;
}
@media (max-width: 959px) {
  .content-txt {
      width: 300px;
    }
    .content h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .content h3 {
        font-size: 24px;
        line-height: 39px;
        margin-bottom: 0;
    }
    .content p {
        font-size: 18px;
        line-height: 26px;
        height: 110px;
    }
}
@media  (max-width: 767px) {
  .content-txt {
      width: 138px;
    }
    .slider img {
          width: 304px;
          height: 304px;
      }
    .content h2 {
        font-size: 36px;
        line-height: 36px;
    }
    .content h3 {
        font-size: 18px;
        line-height: 22px;
    }
    .content p {
        display: none;
    }
    .content {
        margin-right: -130px;
    }


}
@media  (max-width: 479px) {
  .slider img {
    display: none;
  }
    .content, .content-txt {
      width: 100%;
      text-align: center;
    }
    .content h3 {
        max-width: 100%;
    }
}
.box1 {
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 100%;
    animation: slide 30s infinite;
}
.slider {
    width: 25%;
    height: 100%;
    float: left;
}
.content {
    height: 100%;
    margin-right: -30px; /*чтоб не накрывался откат*/
    float: left;
    overflow: hidden;
}
.content-txt {
    padding-top: 94px;
    margin-right: 20px;/*чтоб не накрывался откат слайда*/
    float: left;
    position: relative;
}
/* Switch */

.switch {
    width: 123px;
    height: 13px;
    position: absolute;
}
#slideshow .switch {
  bottom: -105px;
  right: 110px;
}
.slider-mini .switch {
  bottom: -38px;
  right: 131px;
}
.switch > ul {
    list-style: none;
}
.switch > ul > li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3b3842;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}
.switch ul {
    overflow: hidden;
}
.switch__on{
  width:60%;
  height:60%;
  margin-top: 3px;
  margin-left: 3px;
  border-radius:50%;
  background:#e7e7e7;
  box-sizing: border-box;
  position:relative;
}
/*-------------*/

.slider-prev, .slider-next {
  position: absolute;
  top: 35%;
  width: 27px;
  height: 42px;
  cursor:  pointer;
 }

.slider-prev {
    left: 0;
    background: url('../img/icons.png') 0 0 no-repeat;
}
.slider-next {
  right: 0;
  background: url('../img/icons.png') 0 -52px no-repeat;
}
/*-------------------------col-------------------------------------------------*/

.col {
    float: left;
    width: 30%;
    margin-left: 5%;
    box-sizing: border-box;
}
.col:first-child {
    margin-left: 0;
}
@media (max-width: 959px) {
    .col {
        margin-left: 3.3%;
    }
}
@media (max-width: 767px) {
    .col {
        width: 100%;
        margin: 0 0 28px 0;
    }
}
.about {
    background: #593e64;
    box-shadow: inset 0px -1px 0px 0px #f9f9f9, inset 0px -2px 0px 0px #0d151b, inset 0px -3px 0px 1px #322539;
    background: linear-gradient(to top, #312539, #745083);
    padding: 76px 0 70px 0;
  }
/*1-28  29-57  58-85  28 28 27     -144 -185 -104*/

.about__col-set {
    background: url('../img/i-set.png') no-repeat; /*icons.png') 0 -144px no-repeat;*/
}
.about__col-chat {
    background: url('../img/i-chat.png')  no-repeat;
}
.about__col-music {
    background: url('../img/i-music.png') no-repeat;
}
.about__col {
    padding-left: 66px;
    background-position: 10px 6px;
    float: left;
}
.about__title {
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-shadow: 0 1px 0 #0e1418;
    margin-bottom: 8px;
}
.about__text {
    color: white;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0 1px 0 #0e1418;
    margin-bottom: 20px;
    overflow: hidden;
    max-height: 119px;
}
.about__link {
    color: white;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-align: right;
    display: block;
    margin-left: 9px;
}
.about__link:hover {
    text-decoration: none;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.news {
    box-shadow: inset 0px 5px 10px 0px lightgrey;
    padding: 99px 0 85px 0;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
}
.news__col {
    float: left;
    width: 47%;
    margin-left: 6%;
    box-sizing: border-box;
    display: inline-block;
}
.news__col:first-child {
    margin-left: 0;
}
@media (max-width: 959px) {
   .about__title {
     font-size: 24px;
     line-height: 24px;
     margin-bottom: 4px;
     }
   }

@media (max-width: 767px) {
    .news__col {
        width: 100%;
        margin-left: 0;
    }
}
/*-----updates---------------------------------------------- */

.updates {
    padding: 27px 0px 0px 2px;
}
.updates h3 {
    margin-bottom: 14px;
}
.updates .h4 {
    display: block;
    margin-bottom: 2px;
}
.updates__roll {
    position: relative;
    margin-bottom: 18px;
}
.updates__link {
    display: block;
    text-align: right;
    color: #454545;
    font-size: 19px;
    line-height: 28px;
    padding-right: 20px;
    text-shadow: 0 1px 0 white;
}
.updates__right {
    display: inline-block;
    vertical-align: top;
    padding: 4px 0 0 67px;
    width: 100%;
    box-sizing: border-box;
}
.updates__right .h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    max-width: 135px;
}
.updates__right .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 100%;
}
@media (max-width: 959px) {
    .updates {
        padding-left: 7px;
    }
}
@media (max-width: 767px) {
    .updates {
        padding: 87px 0 0 83px;
    }
}
@media (max-width: 479px) {
    .updates {
        padding-left: 19px;
    }
}
@media (max-width: 767px) {
    .updates__link {
        padding-right: 60px;
    }
}
@media (max-width: 479px) {
    .updates__right {
        padding-right: 15px;
    }
}
@media (max-width: 959px) {
    .updates__right .text {
        max-width: 250px;
    }
}
@media (max-width: 479px) {
    .updates__right .text {
        max-width: 213px;
    }
}
.categor {
    background: #ececec;
    border-top: 1px solid #d8d8d8;
    padding: 94px 0 94px;
}
.categor .logo-art {
    margin-bottom: 12px;
}
.categor .copyright {
    margin-bottom: 10px;
}
.categor h3 {
    margin-bottom: 6px;
}
.categor .col {
    overflow: hidden;
    max-height: 208px;
}
/*-----slider-mini----- */

.slider-mini {
    position: relative;
    display: inline-block;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-left: 24px;
    padding: 27px 39px 36px 39px;
    position: relative;
}
@media (max-width: 959px) {
    .slider-mini {
        margin-left: 42px;
        padding: 27px 25px 41px 40px;
    }
    .slider-mini h3 {
        font-size: 24px;
        line-height: 26px;
    }
}
@media (max-width: 767px) {
    .slider-mini {
        margin-right: 20px;
        padding-bottom: 31px;
    }
    .slider-mini h3 {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 12px;
    }
}
@media (max-width: 479px) {
    .slider-mini {
        padding: 24px 35px 25px 37px;
    }
    .slider-mini h3 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 1px;
    }
    .slider-mini .text {
        padding-left: 4px;
    }
}
.slider-mini__content h3 a {
  text-decoration: none;
  color: #edbfff;
}

.slider-mini:before {
    content: "";
    position: absolute;
    bottom: -21px;
    right: 39px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 21px 21px 0;
    border-color: transparent white transparent transparent;
}
@media (max-width: 959px) {
    .slider-mini:before {
        visibility: hidden;
    }
}
.slider-mini:after {
    content: " ";
    display: table;
    clear: both;
}
.slider-mini .text {
    overflow: hidden;
    height: 168px;
}
@media (max-width: 959px) {
    .slider-mini .text {
        height: 145px;
    }
}
@media (max-width: 767px) {
    .slider-mini .text {
        height: 170px;
    }
}
.slider-mini__content:after {
    content: " ";
    display: table;
    clear: both;
}
@media (max-width: 959px) {
    .slider-mini__content h3 > a {
        display: block;
    }
}
@media (max-width: 767px) {
    .slider-mini__content h3 > a {
        display: inline-block;
    }
}
@media (max-width: 479px) {
    .slider-mini__content h3 > a {
        display: block;
    }
}
/*----article-------------------------------------- */

.categor {
    background: #ececec;
    border-top: 1px solid #d8d8d8;
    padding: 94px 0 94px;
}
@media (max-width: 959px) {
    .categor .A960 {
        display: none;
    }
    .categor h3 {
        font-size: 24px;
        line-height: 34px;
    }
    .categor .text {
        overflow: hidden;
        max-height: 168px;
    }
    .categor .col {
        padding-left: 19px;
        max-height: 100%;
    }
}
@media (min-width: 960px) {
    .V960 {
        display: none;
    }
}
@media (max-width: 767px) {
    .categor {
        padding-top: 73px;
        padding-bottom: 81px;
    }
    .categor .text {
        max-height: 118px;
    }
}
.categor .logo-art {
    margin-bottom: 12px;
}
.categor .copyright {
    margin-bottom: 10px;
}
.categor h3 {
    margin-bottom: 6px;
}
.categor .col {
    overflow: hidden;
    max-height: 208px;
}
@media (max-width: 320px) {
    .A320 {
        display: none;
    }
}
/*-----icons---------------------------------- */

.icons {
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    background: #f9f9f9;
    padding: 24px 0 29px;
}
@media (max-width: 959px) {
    .icons {
        padding: 36px 0 14px;
    }
}
@media (max-width: 479px) {
    .icons {
        padding: 51px 0 0;
    }
}
.icons-in {
    text-align: center;
}
.icons-in .ico {
    vertical-align: middle;
    margin: 0 3.5%;
}
@media (max-width: 959px) {
    .icons-in .ico {
        margin: 0 3.3%;
    }
    .ico .ico-6 {
        margin-right: 0;
    }
}
@media (max-width: 767px) {
    .icons-in .ico {
        margin: 0 6%;
        margin-bottom: 25px;
    }
}
@media (max-width: 479px) {
    .icons-in .ico {
        margin: 0 6%;
        margin-bottom: 58px;
    }
}
/*-----ico----------------------------------------------------- */

.ico {
    display: inline-block;
}
/*0-69 134-206 270-335 410-460 528-631 697-775*/

.ico-1 {
    background: url('../img/logos.png') 0 0 no-repeat;
    width: 69px;
    height: 65px;
}
.ico-2 {
    background: url('../img/logos.png') -134px 0 no-repeat;
    width: 72px;
    height: 65px;
}
.ico-3 {
    background: url('../img/logos.png') -270px 0 no-repeat;
    width: 65px;
    height: 65px;
}
.ico-4 {
    background: url('../img/logos.png') -410px 0 no-repeat;
    width: 50px;
    height: 65px;
}
.ico-5 {
    background: url('../img/logos.png') -528px 0 no-repeat;
    width: 103px;
    height: 65px;
}
.ico-6 {
    background: url('../img/logos.png') -697px 0 no-repeat;
    width: 78px;
    height: 65px;
}
.i-play {
    position: absolute;
    top: 150px;
    right: 124px;
    z-index: 12;
    background: url('../img/i-play.png') no-repeat;
    width: 76px;
    height: 76px;
    cursor: pointer;
}
@media (max-width: 767px) {
    .i-play {
        background: url('../img/i-play_mini.png') no-repeat;
        width: 52px;
        height: 52px;
        top: 106px;
        right: 88px;
    }
}
@media (max-width: 479px) {
    .i-play {
        display: none;
    }
}
.logo-art {
    color: #454545;
    font-size: 48px;
    line-height: 48px;
    display: inline-block;
    text-shadow: 0 1px 0 white;
}
.logo-art span {
    color: #b8b8b8;
}
.logo-art:hover {
    text-decoration: none;
    opacity: 0.8;
}
.logo-art:active {
    opacity: 0.6;
}
.copyright {
    color: #c5c5c5;
    font-family: "Georgia";
    font-size: 16px;
    line-height: 18px;
    font-style: italic;
    text-shadow: 0 1px 0 white;
}
/*-----footer------------------------------- */

footer {
    background: url(../img/bottom.jpg) no-repeat center;
    background-size: cover;
    padding: 46px 0 47px;
    box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}
.footer-left {
    float: left;
}
.footer-right {
    float: right;
}
@media (max-width: 959px) {
    footer {
        padding-bottom: 85px;
    }
    .footer-left {
        float: none;
        margin-left: 18px;
        margin-bottom: 29px;
    }
    .footer-right {
        margin-right: 20px;
    }
}
@media (max-width: 767px) {
    .footer-left {
        margin-left: 22px;
    }
    .footer-right {
        display: block;
        float: none;
        margin-right: 0;
        text-align: center;
    }
}
@media (max-width: 479px) {
    footer {
        padding: 4px 0 145px;
    }
}
/*-----design----- */

.design {
    color: white;
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: -3px;
}
.design a {
    color: white;
    font-weight: bold;
}
.design a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.design a:active {
    opacity: 0.6;
}
/*-----author----- */

.author {
    overflow: hidden;
    background: #bbbbbb;
    box-shadow: 1px 2px 0 white, inset 1px 2px 5px rgba(0, 0, 0, 0.3);
    height: 48px;
    line-height: 48px;
    width: 48px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.author img {
    max-height: 100%;
    width: 100%;
}
.author-news {
    position: absolute;
    top: 16px;
    left: -26px;
}
.author-updates {
    position: absolute;
    top: 0px;
    left: 0px;
}
