.slides{
  animation:slide 30s infinite;
}
.content-txt{
  animation:content-s 7.5s infinite;
}
.switch__on{
  animation:on 30s infinite;
}

/* Animation */
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes content-s{
  0%{left:-510px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0px;}
  80%{left:-510px;}
  90%{left:-510px;}
  100%{left:-510px;}
}
@keyframes on{
  0%,100%{
    margin-left:3px;
  }
  21%{
    margin-left:3px;
  }
  25%{
    margin-left:25px;
  }
  46%{
    margin-left:25px;
  }
  50%{
    margin-left:47px;
  }
  71%{
    margin-left:47px;
  }
  75%{
    margin-left:69px;
  }
  96%{
    margin-left:69px;
  }
}
