@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'), url('../fonts/helveticaneue-thin-webfont.woff') format('woff'), url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: gray;
    font-size: 14px;
    font-family: "Helvetica Neue", Tahoma;
}
.wrapper {
    margin: 0 auto;
    width: 1215px;
    height: 1064px;
    background: url(../img/cadastre.png);
    /*/Homework5.jpg);*/

    position: relative;
}
.header {
    width: 100%;
    height: 36px;
    background-color: #075291;
}
ul.menu {
    list-style: none;
    padding-left: 500px;
}
li {
    float: left;
  display: block;
  line-height: 35px;

}
.menu a {
  display: block;
  line-height: 35px;
  padding: 0 10px;
}
ul {
  list-style: none;
}
.menu a {
    display: block;
    color: #60b5ed;
    text-decoration: none;
}
a.hovered:hover {
    background-color: #4eabda;
    color: white;
}
.header img {
    padding-left: 10px;
    padding-right: 10px;
}
a.minhas {
  color: #fff;
}
li.ola {
  padding: 0 10px;
  color: #fff;
  background: linear-gradient(to bottom, #4faedb, #2e7ac4);
  border: solid #4299d2;
  border-width: thin;
}
li.ola a {
  padding: 0;
  display: inline;
  color: #fff;
  text-decoration: underline;
}
.box {
    background-color: rgba(0, 0, 0, 0.63);    /*opacity: 0.631;*/
    position: absolute;
    left: 353px;
    top: 249px;
    width: 560px;
    height: 613px;
}
h2 {
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: white;
}
hr {
      color: white;
}
.box_form {
    margin: 0 auto;
    padding-top: 40px;
    width: 276px;
}
.input_form {
    margin-top: 19px;
}
input {
    width: 254px;
    height: 35px;
    background-color: #111;
    color: #ccc;
    padding-left: 20px;
    border: 0;
    border-bottom: 1px solid #888;
    /*484948;*/
}
input:hover {
    background-color: #1b5288;
    color: #fff;
    box-shadow: 0 0 5px 5px #699ccd;
    border-bottom: 1px solid #ccf;
    /*484948;*/
}
label {
    color: #ccc;
}
#last {
    background: #3889cb url(../img/button.png);
}
.left {
    width: 20px;
    height: 10px;
}
.bottom {
    margin: 0 auto;
    padding-top: 15px;
    width: 340px;
}
.bottom p {
    text-align: center;
    font-size: 11px;
    color: #ccc;
}
.submit {
    color: white;
    cursor: pointer;
    margin: 20px 0 0 64px;
    padding: 0;
    border: 1px solid #cecece;
    background: #307cc5;
    box-shadow: inset 0px 8px 15px #baefff;
    border-radius: 2px;
    width: 150px;
    text-align: center;
}
.ou {
    color: #999;
    text-align: center;
    padding-top: 25px;
}
.ou hr {
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    color: #666;
    width: 114px;
    height: 1px;
    margin: 7px;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
