* {
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
}
table {
  margin: 110px auto;
  border-spacing: 0;
}
.white {
  background-color: white;
}
.yellow {
  background-color: #ffff83;
}
.black {
  background-color: #2d2d2d;
}
.red {
  background-color: #fb543c;
}
.blue {
  background-color: #0a4a89;
}
td {
  border: 5px solid #1e2c27;
  font-size: 10px;
}
.left {
  border-left: 0;
}
.top{
  border-top: 0;
}
.right {
  border-right: 0;
}
.bottom {
  border-bottom: 0;
}
.td1 {
  width: 50px;
}
.td2 {
  width: 70px;
}
.td3 {
  width: 70px;
}
.td4 {
  width: 140px;
}
.td5 {
  width: 85px;
}
.td6 {
  width: 85px;
}
.tr1 {
  height: 50px;
}
.tr2 {
  height: 140px;
}
.tr3 {
  height: 140px;
}
.tr4 {
  height: 70px;
}
.tr5 {
  height: 65px;
}
.tr6 {
  height: 35px;
}
.tr7 {
  height: 35px;
}
