* {
    margin: 0;
    padding: 0;
}
body {
  margin: 0 auto;
  padding: 17px 46px 0 45px;
  width: 909px;
  position: relative;
  background-color: white;
  font-size: 12px;
  font-family: Arial, "Lucida Sans Unicode";
}
.phone img{
  float: left;
  margin-right: 4px;
  margin-top: 2px;
  margin-left: 6px;
}

.phone p {
  margin-right: 14px;
  float: left;
  color: #5e696d;
  font-size: 18px;
  margin-top: 3px;
  white-space: pre;
}
.login-section { /*main box for avtorization line*/
   padding: 3px;
   width: 487px;
   height: 22px;
   float: left;
   font-size: 10px;
   background: #1f6787; /* Old browsers */
   border-radius: 5px;
  box-shadow: 2px 2px 8px 0px rgba(150,150,150,1);
}

.login-section form img {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}
.login-section form input {
  float:left;
  width: 112px;
  height: 14px;
  margin-right: 7px;
  margin-top: 2px;
  font-size: 10px;
}

.login-section form input.submit-login {
  display: inline-block;
  width: 24px;
  margin-right: 7px;
  background-color: inherit;
  border: 0;
  color: white;
}
.login-section a{
  display: inline-block;
  float: left;
  padding-right: 4px;
  margin-top: 4px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.login-section a:nth-last-child(2) {
  display: inline-block;
  border-left: 1px solid white;
  padding-left: 4px;
}

.login-section a:last-child{
  display: inline-block;
  padding-left: 20px;
  color: #bfbfbf;
  text-decoration: underline;
}

.icon-nav {
  float: left;
  border: 1px solid #c0c7ca;
  border-radius: 10px;
  margin-left: 18px;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 12px;
   box-shadow: 2px 2px 8px 0px rgba(150,150,150,1);
 }

   .icon-nav img {
     margin-right: 3px;
     margin-bottom: 2px;
}
header img.mp {
  width: 909px;
  height: 237px;
  clear: both;
  margin-top: 9px;
}
/*------------------END OF HEADER------------------*/
/*------------------Main Menu --------------------------*/
nav {
   height: 15px;
   padding: 5px 0 13px 0;
   margin-top: 4px;
   border-radius: 5px;
   background: linear-gradient(to bottom,  #576068 0%,#000000 35%);
   box-shadow: 2px 2px 8px 0px rgba(150,150,150,1);
}
nav ul {
   margin-left: 128px;
   list-style: none;
}
nav ul li {
   float: left;
  padding: 5px 10px 5px 10px;
   border-radius: 15px;
}
nav ul li a{
   color: #b1bcc0;
   padding: 1px 6px 1px 6px;
   text-decoration: none;
   font-size: 14px;
}
.main-menu li:hover {
  background: linear-gradient(to bottom,  #1f6585 0%,#0c3357 100%);
}
.basket p {
  color: #b1bcc0;
  font-size: 11px;
}
ul.basket li img{
   text-align: center;
   margin-bottom: -4px;
   margin-left: 30px;
}
.basket span {
    color: #0d5689;
    font-weight: bold;
    font-size: 12px;
 }
/*-----------------------END OF MENU---------------------*/


/*----------------Search section------------------*/
.search-wrapper {
  padding-left: 17px;
}
.search section {
  height: 134px;
  margin: 11px 8px 0 4px;
  float: left;
  border: 2px solid #b6b6b7;
  border-radius: 18px;
  box-shadow: 2px 2px 8px 0px rgba(150,150,150,1);
}
.search form select {
  font-size: 11px;
}
section.search section.tires {
  width: 191px;
}
section.search section.disk {
  width: 267px;
  margin-left: 0px;
  margin-right: 0;
}
.searching-button  {
  position: absolute;
   right: 29px;
   bottom: 2px;
   color: #154467;
   font-size: 14px;
   text-transform: lowercase;
   text-align: right;
   font-style: italic;
   border: 0;
   border-bottom: 2px solid #a6b1bc;
   background-color: white;
}

/*-----start of first form - car-SEARCH------*/
section.search section.car {
  width: 413px;
}
 section.car {
  position: relative;
}
.car_search {
   float: left;
   padding-left: 17px;
   padding-right: 13px;
   width:384px;
   height: 134px;
   border: 2px solid #b6b6b7;
   border-radius: 18px;
   box-shadow: 2px 2px 8px 0px rgba(150,150,150,1);
}

.car_search_header p{
   display: inline;
   font-size: 10px;
   color: #154467;
   font-weight: bold;
}

.car_search_header span {
   font-size: 12px;
   margin-left: 74px;
   margin-right:  93px;
}

.car_disk_search {
    float: left;
}

.car_brand, .car_model, .car_complectation, .car_year {
    margin-bottom: 3px;
}

 .car_brand p, .car_model p, .car_complectation p, .car_year p{ /*text align*/
    display: inline-block;
    color: black;
    font-size: 10px;
    width: 75px;
}

 .car_brand span, .car_model span, .car_year span {
    color: #77858b;
}

 .car_brand select, .car_model select, .car_complectation select{/*form align*/
    width: 98px;
    height: 17px;
    margin-top: 3px;
}

.car_year select{
    width: 56px;
    height: 17px;
}

.car_tires_search {
    float: left;
    margin-left: 26px;
}

.searching {
    text-align: right;
    font-style: italic;
}
/*-----end of first form - AVTO-SEARCH------*/
section.tires {
  position: relative;
}
.tires_search_wrapper
.tires_search {
   position: relative;
   float: left;
   padding: 6px 14px 10px 10px;
   margin-left: 15px;
   margin-right: 11px;
   width:165px;
   height: 116px;
   border: 2px solid #b6b6b7;
   border-radius: 15px;
   box-shadow: 2px 2px 8px 0px rgba(150,150,150,1);
}

.tires_search_header p{
   margin-bottom: 6px;
   text-align: left;
   font-weight: bold;
   font-size: 11px;
   color: #114165;
}

.tires_size p{
   display: inline-block;
   font-size: 10px;
   color: black;
}

.tires_size select {
  width: 49px;
  height: 14px;
  margin-left: 2px;
}

.tires_R {
  margin-left: 35px;
  margin-top: 7px;
}

.tires_R p{
  display: inline-block;
  text-align: right;
  font-size: 10px;
  color: black;
}

.tires_R select {
  width: 44px;
  height: 17px;
}

.tires_season_header p {
  display: inline-block;
  font-size: 10px;
  color: black;
  margin-left: 2px;
}

.tires_season_checkbox {
}

.tires_season_checkbox_1 {
  display: inline-block;
  vertical-align: middle;
  margin: -5px 0 -3px 0;
}

.tires_season_checkbox label {
  display: inline-block;
  font-size: 10px;
  color: black;
  margin-right: 70px;
  vertical-align: super;
  line-height: 0;
}

/*-----end of second form - tires-SEARCH------*/
/*-----start of third form - DISKS-SEARCH------*/
section.disk {
  position: relative;
}
.disks_search {
   position: relative;
   float: left;
   padding: 6px 15px 9px 9px;
   width:242px;
   height: 116px;
   border: 1px solid #b6b6b7;
   border-radius: 15px;
   box-shadow: 2px 2px 8px 0px rgba(150,150,150,1);
}

.disks_search_header p{
   margin-bottom: 5px;
   font-size: 12px;
   color: #114165;
   font-weight: bold;
}

.disks_diametr p, .disks_amount p, .disks_DCO p,.disks_ET p {
   display: inline-block;
   color: black;
   font-size: 10px;
   margin-bottom: 2px;
   width: 90px;
   vertical-align: middle;
}

.disks_diametr span, .disks_amount span{
    color: #77858b;
    font-size: 9px;
}

 .disks_DCO span,.disks_ET span {
    color: #77858b;
    font-size: 8px;
 }


.disks_search select {
   width: 56px;
   height: 17px;
   margin-bottom: 4px;
   vertical-align: middle;
}

.disks_search_right_side {
   position: absolute;
   left: 174px;
   top: 1px;
   padding-left: 10px;
   border-left: 1px solid #bdc6ca;
   margin-top: 5px;
}

.disks_search_right_side select {
  margin-bottom: 4px;
}
/*-----end of third form - DISKS-SEARCH------*/
/*------------------------END OF SEARCH FORMS--------------------------------------*/


/*--------------------Left Sidebar--------------------------------------------------*/
main {
  margin-top: 15px;
  margin-bottom: 36px;
}
.left-side {
  width: 192px;
  height: 400px;
  float: left;
}
.left-side ul li {
   margin-left: 50px;
   color: #114165;
   list-style: circle;
}
.left-side a {
  color: #114165;
  line-height: 25px;
  text-decoration: none;
}
.left-side a:hover {
  text-decoration: underline;
  font-weight: bold;
}

h2 img, h3 img {
  margin: 0px 3px 0 2px;
  float: left;
}
h2, h3 {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  border: 1px solid rgb( 155, 161, 163 );
  border-radius: 13px;
  font-size: 13px;
  color: #114165;
}
h2 {
  width: 181px;
  box-shadow: 1.5px 2.598px 3px 0px rgb( 150, 150, 150 );
  margin: 3px -2px 13px -1px;
}
h3 {
  width: 151px;
  margin: 0px -2px 2px -1px;
}
/*------------------------START OF CONTENT--------------------------------------*/
.content {
  width: 525px;
  height: 629px;
  float: left;
  border-radius: 3px;
  background: linear-gradient(to bottom, #e4e7e8, #94a7b0);
}

.content .row {
   display: inline-block;
   margin-left: 31px;
   margin-bottom: 9px;
   font-size: 13px;
   text-align: center;
   color: #1f2528;
}
.content ul li {
  float: left;
}
.content a {
  color: #1f2528;
}

.content .row:first-child {
   display: inline-block;
   margin: 12px 0 1px 22px;
}

.row .weel{
   width: 135px;
   height: 127px;
   margin-bottom: 3px;
   margin-right: -3px;
   border: 1px solid #cfd4d6;
   background-color: white;
   border-radius:  5px;
}
figura {
  display: block; /* Блочный элемент */
   width: 135px;
   height: 127px;
   margin-bottom: 3px;
   margin-right: -3px;
   border: 1px solid #cfd4d6;
   background-color: white;
   border-radius:  5px;
}
figura img {
  padding: 4px;
}
figcaption span {
   color: #114165;
   font-weight: bold;
   font-size: 16px;
}
.content a {
  text-decoration: none;
}

 .content .row span {
    color: #114165;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

 .content .row .color {
    color: #206988;
    font-size: 15px;
}
/*------------------------END OF CONTENT--------------------------------------*/
/*----------------------Start Right Sidebar---------------------------------*/
.right-side {
  width: 186px;
  height: 100px;
  float: right;
}
input[type="checkbox"] {
   display: inline-block;
   margin-left: 27px;
   margin-top: 9px;
}

 label{
   color: #114165;
   font-size: 13px;
   margin-left: 5px;
}

.right-side .submit {
   width: 80px;
   height: 24px;
   border: none;
   border-radius: 15px;
   background:linear-gradient(to bottom, #206988 0%, #0c3256 59%);
   color: white;
   font-size: 11px;
   text-align: center;
   margin-top: 19px;
   margin-left:27px;
}
.right-side h3 {
  margin-left: 19px;
  margin-top: 2px;
}
.brand {
  width: 676px;
  height: 27px;
margin-left: 117px;
}
footer {
  margin-top: 21px;
  width: 100%;
  height: 100px;
  background-color: #213a4d;
}
.footer {
    margin-left: 296px;
}

footer ul li {
   float: left;
   margin-top: 9px;
   margin-right: 5px;
   padding-right:  11px;
   padding-left:  11px;
   list-style: none;
   border-left: 1px solid #bec6c9;
}

footer ul li:first-child {
   border: none;
}

footer ul li a {
   color: #bec6c9;
   font-size: 12px;
   text-decoration: none;
   text-align: center;
}

footer ul li:hover a{
   color: #52abcb;
}

footer p {
  clear: both;
  text-align: center;
  color: #7f4740;
  font-size: 10px;
  line-height: 39px;
}
/*------------------------END OF FOOTER--------------------------------------*/

.bottom p {
    text-align: center;
    font-size: 11px;
    color: #ccc;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
