/*-------------------HEADER-------------------*/

.header__loginAndSignUp {
    float: right;
}

.header__h2 {
    float: left;
}

.header__h1 {
    margin-top: 225px;
    font-size: 40px;
}

.header__h3 {
    margin-bottom: 150px;
}


/*-------------------SLIDERS-------------------*/

.slider__h2 {
    margin-top: 60px;
    margin-bottom: 29px;
}

.jcarousel-wrapper {
    float: left;
    width: 31.91%;
    margin-left: 0;
    margin-right: 0;
}

.jcarousel-wrapper--2 {
    margin-top: 10px;
}

.slider__item {
    height: 400px;
    background-image: url("../../img/sliders/1440/1.png");
    padding-top: 230px;
}

.sliders__arrow--left {
    display: block;
}

.control-wrapper {
    left: 8%;
    top: 153px;
    width: 82%;
}

.jcarousel--2 ~ .control-wrapper {
    left: 9%;
    width: 83%;
}

.jcarousel--2 .slider__item {
    background-image: url("../../img/sliders/1440/2.png");
}

.jcarousel--3 .slider__item {
    background-image: url("../../img/sliders/1440/3.png");
}

.sliders {
    padding: 0 9px;
}


/*-------------------PARTNERS-------------------*/

.partners {
    width: 100%;
    margin: 0 auto;
}

.partners__person {
    float: left;
    width: 25%;
    margin-bottom: 0;
}

.partners__h2 {
    margin-bottom: 15px;
    padding-top: 39px;
}

.partners__name {
    margin: 20px 0 15px 0;
    padding: 0;
}

.partners__description {
    width: 90%;
}

.partners__seeOther {
    padding: 11px 27px;
    clear: both;
    display: block;
    width: 21%;
    margin: 0 auto;
    margin-top: 40px;
}


/*-------------------PARTNERS-------------------*/

.grid-item {
    width: 31.25%;
    height: 310px;
    margin: 1%;
}

.grid-item--width2 {
    width: 64.58%;
}

.gallery__pictures {
    padding: 0;
}

.gallery__h2 {
    margin-bottom: 20px;
}

.gallery__h2--bottom {
    margin-top: 50px;
}

#gallery__submit {
    display: inline-block;
    width: 160px;
    margin-left: 7px;
}

.gallery__h4 {
    margin-bottom: 22px;
}

#gallery__input {
    margin-left: 29%;
    width: 237px;
    display: inline-block;
}


/*-------------------FOOTER-------------------*/

.footer {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14.5%;
}

.footer .wrapper {
    width: 100%;
    max-width: 1440px;
}

.footer__h1,
.footer__h2,
.footer__companyWrapper,
.footer__logoWrapper {
    float: left;
}

.footer__listItem,
.footer__list {
    display: block;
}

.footer__h1 {
    margin-top: 38px;
    margin-left: 38px;
}

.footer__h2 {
    margin-top: 38px;
    margin-left: 82px;
}

.footer__h3 {
    margin-left: 31px;
}

.footer__list {
    margin-top: 68px;
    margin-left: 82px;
    text-align: left;
}

.footer__listItem {
    margin: 0 0 10px 0;
}

.footer__logo {
    display: block;
}

.footer__logoWrapper {
    margin-top: 25px;
    margin-left: 30%;
}

.footer__companyWrapper {
    margin-left: 15px;
}

.footer__h2--partners {
    margin-left: 93px;
}
